services:
  etlegacy:
    build: .
    image: ghcr.io/xunholy/enemy-territory:latest
    ports:
      - "27960:27960/udp"
    volumes:
      - ./config/server.cfg:/etlegacy/legacy/server.cfg
    restart: unless-stopped
