services:
  etlegacy:
    build: .
    image: ghcr.io/xunholy/enemy-territory:latest
    ports:
      - "27960:27960/udp"
    volumes:
      - ./config/server.cfg:/etlegacy/legacy/server.cfg
    # environment:
    #   - SERVER_NAME=My ETLegacy Server
    #   - RCON_PASSWORD=changeme
    #   - SERVER_PASSWORD=
    #   - MAX_CLIENTS=20
    restart: unless-stopped
